
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  color: #fff;
}

a {
  color:$link;
  &:hover {
    color:$link-hover;
  }
}

.navbar {background-color:$primary;}

main {background-color: $secondary;}

.esa-table {
  width: 100% !important;
  background-color: $primary;
  color:#fff;
  border-radius:5px;
  thead {
    tr {
      th {
        padding: 10px 15px;

      }
    }
  }
  tr.odd {
    background: #354365;
  }
  tr.odd + tr.child {
    background: #354365;
  }
  td {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.2;
  }
  td.child{
    ul {
      list-style:none;
      padding: 0;
      margin: 0;
      li {
        span.dtr-title {
          font-weight: 700;
        }
      }
    }
    ul + * {
      margin-top: 1rem;
    }
  }
  td.video-links {
    padding: 0;
    a {
      width: 50%;
      text-align: center;
      .fab, .fas {
        padding: 3px;
        font-size: 20px;
        border-radius:3px;
        width: 100%;
        -webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;
        &:hover {
          background:#00000045;
        }
      }
      .fa-twitch {
        color: $twitch;
      }
      .fa-youtube {
        color: $youtube;
      }

    }
    a.twitch {
      float: right;
    }
    a.youtube {
      float: left;
    }
    a.close-vod {
      float: right;
      display: none;
    }
  }
  tr.shown {
    td.video-links {
      a.close-vod {
        display: block;
      }
      a.youtube, a.twitch {
        display: none;
      }
    }
  }
}



